#subtitle {
	text-align: left;
	font-style: italic;
	font-size: 15px;
	color: rgb(0, 123, 255);
	background-color: rgb(248, 249, 250);
	padding-top: 0px;
	margin-top: 0px;
}

.posetcontainer {
	padding-top: 5px;
	padding-bottom: 0px;
	text-align: center;
}

canvas {
	border-width: 2px;
	border-style: solid;
	border-color: rgb(248, 249, 250);
}

#txtInputLatex, #txtInputCoveringList, #txtInputMatrix,
#txtExport_pcauset, #txtExport_rcauset, #txtExport_causet,
#txtExportArray {
	font-family: 'Liberation Mono', 'Lucida Console', Consolas, monospace;
	font-size: 11pt;
	white-space: pre;
}
