.header-nav-progress {
  padding-top: 2.5rem;
  background-color: #f8f9faee;
}

#subtitle {
  text-align: left;
  font-style: italic;
  font-size: 0.8rem;
  color: #007bff;
  background-color: #f8f9fa;
  padding-top: 0rem;
  margin-top: 0rem;
}

.progress-symbol {
  width: 0.69rem;
  height: 0.69rem;
  margin: 1rem;
  align-items: unset;
  transform: rotate(45deg);
  border: 0.03rem solid #007bff;
}

.busy {
  animation: building 1.5s linear infinite;
}

@keyframes building {
  0%,
  100% {
    border-width: 0.03rem;
    border-top-width: 0.69rem;
    border-left-width: 0.69rem;
  }
  10%,
  35% {
    border-width: 0.03rem;
  }
  85% {
    border-width: 0.03rem;
    border-bottom-width: 0.69rem;
    border-right-width: 0.69rem;
  }
}

.posetcontainer {
  padding-top: 0.3rem;
  padding-bottom: 0rem;
  text-align: center;
}

.accordion-button {
  background: transparent;
  border: none;
  padding: 0rem;
}

canvas {
  border-width: 2px;
  border-style: solid;
  border-color: #f8f9fa;
}

#txtInputLatex,
#txtInputCoveringList,
#txtInputMatrix,
#txtExport_pcauset,
#txtExport_rcauset,
#txtExport_causet,
#txtExportArray {
  font-family: "Liberation Mono", "Lucida Console", Consolas, monospace;
  font-size: 1rem;
  white-space: pre;
}
